# Analyzing.

## 1. Location.

In [1]:
from pymongo import MongoClient
import pandas as pd
import time
import importlib
import geopandas as gpd
import data.cleaning as clean
importlib.reload(clean)
import json
from cartoframes.viz import Map, Layer, popup_element

from getpass import getpass
import os
import requests

from dotenv import load_dotenv
import pymongo

Todo el proceso para descargar la base de datos Empresas de Mongo.

In [2]:
client = MongoClient("localhost:27017")

In [3]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
client.list_database_names()

['Ironhack', 'admin', 'config', 'local']

In [5]:
db = client["Ironhack"]

In [6]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack')

In [7]:
c = db.get_collection("companies")

Explore the data base to get the information I want for the company.

In [8]:
# This was to look if the data base from Mongo was well downloaded.
# c.find_one()

In [9]:
# This was to find with a specific condition of the ategory, and look for what i wanted to work on.
# list(c.find({}, {"category_code":1}))

#### Will choose the music industry for my company.
Getting the music buissnes companies and start analizing them.

In [10]:
# list of all the companies with category of music in all the world.
#list(c.find({"category_code":"music"}, {"name":1, "_id":0, "category_code":1}))

Get the companies Ubication COUNTRY.

In [11]:
def music_countries (category_code, country_code):
    condition1 = {"category_code":category_code}
    projection = {"name":1, "_id":0, "offices.country_code":country_code}
    countries = (list(c.find(condition1, 
               projection)))
    
    listcountry = [countries[i]["offices"][j]["country_code"] for i in range(len(countries)) for j in range(len(countries[i]["offices"]))]
    return listcountry

In [12]:
# list of the countries with the music company industry.
lstcountry = music_countries ("music", 1)

In [13]:
#countries[0]
#countries[0]["offices"]
#countries[0]["offices"][0]["country_code"]

In [14]:
# change it to a dictionary
country = {"country": lstcountry}

In [15]:
# make it a data frame
dfcountry = pd.DataFrame(country)

We see that for much USA is the place for a music company, I wanted to see if I could go to another country that had some type of competition between the USA, but if the company wants to grow, need to be in the USA.

In [16]:
dfcountry.value_counts()[:10]

country
USA        30
GBR         5
FRA         4
DEU         2
BEL         1
BRA         1
ESP         1
ITA         1
LUX         1
NLD         1
dtype: int64

hacer otra columna del value count de los paises

In [17]:
dfcountry.sample(3)

   country
40     FRA
0      USA
37     USA

### Searching for the city

In [18]:
condition1 = {"category_code":"music"}
condition2 = {"offices.city":"San Diego"}
projection = {"name":1, "_id":0, "offices.address1":1}
x = (list(c.find({"$and":
                [condition1, condition2]},
                   projection)))

In [19]:
x

[{'name': 'Slacker',
  'offices': [{'address1': '16935 W. Bernardo Dr. Suite 101'}]},
 {'name': 'Bandsintown',
  'offices': [{'address1': '800 W Ivy Street, Unit C'},
   {'address1': '215 Lexington Ave'}]}]

In [20]:
def music_cities (category_code, cities):
    condition1 = {"category_code":category_code}
    projection = {"name":1, "_id":0, "offices.city":cities}
    city = (list(c.find(condition1, 
               projection)))
    
    lstcity = [city[i]["offices"][j]["city"] for i in range(len(city)) for j in range(len(city[i]["offices"]))]
    return lstcity

In [21]:
lstcity = music_cities ("music", 1)

Merge the 2 columns of country and city and new count column

In [22]:
def combine_lists (lst1, lst2):
    # change the 2 lists into a dictionary
    location = {"cities": lst1,
            "country": lst2} 
    # create them a Data Frame.
    location = pd.DataFrame(location)
    # create a new column with the value_counts of cities.
    location["count"] = location.groupby(["cities"])["country"].transform("count")
    return location

In [23]:
location_df = combine_lists (lstcity, lstcountry)

In [24]:
location_df.sample(3)

           cities country  count
38  San Francisco     USA      9
16         London     GBR      4
39       Brussels     BEL      1

Will do a drop duplicated and drop na

In [25]:
def clean_df_citycountry (df):
    x = df.combine_first(df).reset_index().reindex(df.columns, axis=1).drop_duplicates()
    x.dropna(how="any", inplace=True)
    return x

In [26]:
location_clean = clean_df_citycountry (location_df)
location_clean.sample(3)

             cities country  count
44  Sainte Florence     FRA      1
11           Oxford     GBR      1
34        Sao Paulo     BRA      1

Export the data frame of location into a CSV file.

In [27]:
def export_location (df):
    return df.to_csv(f"D:\\ironhack\\proyectos\\GeoSpatialData_proy3\csv\\location_clean.csv")

In [28]:
export_location (location_clean)

## 2. Startup environment.

In [29]:
def startups_cooord (city, amount):
    # Conditions for city and amount of the company.
    condition1 = {"offices.city":city}
    condition2 = {"acquisitions.price_amount":{"$gte":amount}}
    projection = {"name":1, "_id":0, "category_code":1, "offices.latitude":1, "offices.longitude":1}
    x = (list(c.find({"$and":
                             [condition1, condition2]},
                   projection)))
    return x

In [30]:
startups = startups_cooord ("New York", 1000000)
startups

[{'name': 'Facebook',
  'category_code': 'social',
  'offices': [{'latitude': 37.41605, 'longitude': -122.151801},
   {'latitude': 53.344104, 'longitude': -6.267494},
   {'latitude': 40.7557162, 'longitude': -73.9792469}]},
 {'name': 'Viacom',
  'category_code': 'web',
  'offices': [{'latitude': 40.757725, 'longitude': -73.986011}]},
 {'name': 'Google',
  'category_code': 'search',
  'offices': [{'latitude': 37.421972, 'longitude': -122.084143},
   {'latitude': 42.280988, 'longitude': -83.748882},
   {'latitude': 33.781466, 'longitude': -84.387519},
   {'latitude': 30.351416, 'longitude': -97.751382},
   {'latitude': 40.021416, 'longitude': -105.260931},
   {'latitude': 42.36305, 'longitude': -71.087478},
   {'latitude': 41.889474, 'longitude': -87.628912},
   {'latitude': 32.981465, 'longitude': -97.018196},
   {'latitude': 32.809161, 'longitude': -96.807693},
   {'latitude': 39.62919, 'longitude': -104.898419},
   {'latitude': 42.547807, 'longitude': -83.215498},
   {'latitude': 33.658331, 'longitude': -117.861817},
   {'latitude': None, 'longitude': None},
   {'latitude': 40.74222, 'longitude': -74.004489},
   {'latitude': 33.411898, 'longitude': -111.926263},
   {'latitude': 40.444528, 'longitude': -79.946269},
   {'latitude': 37.789803, 'longitude': -122.389757},
   {'latitude': 34.019282, 'longitude': -118.494288},
   {'latitude': 47.675326, 'longitude': -122.351397},
   {'latitude': 47.649701, 'longitude': -122.350592},
   {'latitude': 38.901113, 'longitude': -77.027101},
   {'latitude': -37.879234, 'longitude': 145.073608},
   {'latitude': -34.822723, 'longitude': 138.612396},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': 28.86999, 'longitude': 77.122261},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': 56.171882, 'longitude': 10.187799},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': 48.869606, 'longitude': 2.332749},
   {'latitude': 53.554052, 'longitude': 9.985266},
   {'latitude': 53.339914, 'longitude': -6.234424},
   {'latitude': 45.46381, 'longitude': 9.195978},
   {'latitude': 52.337495, 'longitude': 4.871464},
   {'latitude': 59.915848, 'longitude': 10.741047},
   {'latitude': 63.435324, 'longitude': 10.412428},
   {'latitude': 50.063281, 'longitude': 19.929806},
   {'latitude': 51.116574, 'longitude': 17.041942},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': 65.617491, 'longitude': 22.126255},
   {'latitude': 59.332344, 'longitude': 18.060162},
   {'latitude': 47.36554, 'longitude': 8.524864},
   {'latitude': None, 'longitude': None},
   {'latitude': 53.473606, 'longitude': -2.250166},
   {'latitude': 45.498588, 'longitude': -73.567044},
   {'latitude': None, 'longitude': None},
   {'latitude': 43.474704, 'longitude': -80.546381},
   {'latitude': None, 'longitude': None},
   {'latitude': -23.590463, 'longitude': -46.681494},
   {'latitude': 19.507519, 'longitude': -99.030156},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None}]},
 {'name': 'Brightcove',
  'category_code': 'enterprise',
  'offices': [{'latitude': 42.362993, 'longitude': -71.086596},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None}]},
 {'name': 'IAC',
  'category_code': 'news',
  'offices': [{'latitude': 40.745172, 'longitude': -74.007646}]},
 {'name': 'AOL',
  'category_code': 'web',
  'offices': [{'latitude': 40.7311317, 'longitude': -73.9919311}]},
 {'name': 'KIT digital',
  'category_code': 'enterprise',
  'offices': [{'latitude': 40.751816, 'longitude': -73.971655},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': 59.3369746, 'longitude': 18.0580765},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': 43.6587599, 'longitude': -79.5983626},
   {'latitude': None, 'longitude': None}]},
 {'name': 'Nielsen',
  'category_code': 'web',
  'offices': [{'latitude': 40.731118, 'longitude': -73.991933}]},
 {'name': 'MIVA',
  'category_code': 'advertising',
  'offices': [{'latitude': 40.733276, 'longitude': -73.9932793}]},
 {'name': 'Adknowledge',
  'category_code': 'advertising',
  'offices': [{'latitude': 39.044694, 'longitude': -94.597896},
   {'latitude': 40.748901, 'longitude': -73.992463},
   {'latitude': 37.78866, 'longitude': -122.401406},
   {'latitude': 26.580095, 'longitude': -81.879069},
   {'latitude': 43.6474554, 'longitude': -79.3953743},
   {'latitude': 51.5114403, 'longitude': -0.1229212},
   {'latitude': 48.1635092, 'longitude': 11.5582609},
   {'latitude': 48.8506065, 'longitude': 2.3797825},
   {'latitude': 31.222622, 'longitude': 121.4770384}]},
 {'name': 'eMusic',
  'category_code': 'games_video',
  'offices': [{'latitude': None, 'longitude': None}]},
 {'name': 'TheStreet',
  'category_code': 'finance',
  'offices': [{'latitude': 40.707645, 'longitude': -74.010816}]},
 {'name': 'Monster',
  'category_code': 'search',
  'offices': [{'latitude': 42.42517, 'longitude': -71.45677}]},
 {'name': 'XO Group',
  'category_code': 'web',
  'offices': [{'latitude': 40.720824, 'longitude': -74.00007}]},
 {'name': 'Comverse Technology',
  'category_code': 'software',
  'offices': [{'latitude': 36.162612, 'longitude': -106.53529}]},
 {'name': 'Reuters',
  'category_code': None,
  'offices': [{'latitude': 40.757929, 'longitude': -73.985506}]},
 {'name': 'MTV Networks',
  'category_code': 'advertising',
  'offices': [{'latitude': 40.757725, 'longitude': -73.986011}]},
 {'name': 'Adconion Media Group',
  'category_code': 'advertising',
  'offices': [{'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None}]},
 {'name': 'WebMD',
  'category_code': 'web',
  'offices': [{'latitude': 40.7410886, 'longitude': -74.0015261}]},
 {'name': 'Advent Software',
  'category_code': 'software',
  'offices': [{'latitude': 37.771706, 'longitude': -122.402683},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None}]},
 {'name': 'LivePerson',
  'category_code': 'software',
  'offices': [{'latitude': 40.751969, 'longitude': -73.99031},
   {'latitude': 33.8656817, 'longitude': -84.4709443},
   {'latitude': 51.4238637, 'longitude': -0.9876997},
   {'latitude': None, 'longitude': None}]},
 {'name': 'Bloomberg',
  'category_code': 'software',
  'offices': [{'latitude': None, 'longitude': None}]},
 {'name': 'SnagFilms',
  'category_code': 'social',
  'offices': [{'latitude': None, 'longitude': None},
   {'latitude': 38.906867, 'longitude': -77.042322}]},
 {'name': 'Thomson Reuters',
  'category_code': 'public_relations',
  'offices': [{'latitude': 40.7564318, 'longitude': -73.9871847}]},
 {'name': 'WPP',
  'category_code': 'public_relations',
  'offices': [{'latitude': 40.751513, 'longitude': -73.9779465},
   {'latitude': None, 'longitude': None}]},
 {'name': 'Thomson Reuters',
  'category_code': 'public_relations',
  'offices': [{'latitude': 40.7564318, 'longitude': -73.9871847}]},
 {'name': 'WPP',
  'category_code': 'public_relations',
  'offices': [{'latitude': 40.751513, 'longitude': -73.9779465},
   {'latitude': None, 'longitude': None}]},
 {'name': 'F5 Networks',
  'category_code': 'other',
  'offices': [{'latitude': 47.622263, 'longitude': -122.363276},
   {'latitude': 47.667105, 'longitude': -117.111222},
   {'latitude': 40.75304, 'longitude': -73.998135},
   {'latitude': 37.381844, 'longitude': -121.924439},
   {'latitude': 42.619502, 'longitude': -71.322888},
   {'latitude': -23.620738, 'longitude': -46.698267}]},
 {'name': 'Opt-Intelligence',
  'category_code': 'advertising',
  'offices': [{'latitude': None, 'longitude': None}]},
 {'name': 'Centro',
  'category_code': 'advertising',
  'offices': [{'latitude': 41.889853, 'longitude': -87.6355433},
   {'latitude': 40.7408753, 'longitude': -73.9920174},
   {'latitude': 32.7819239, 'longitude': -96.790514},
   {'latitude': 34.0312388, 'longitude': -118.4735062}]},
 {'name': 'Sapient',
  'category_code': 'enterprise',
  'offices': [{'latitude': None, 'longitude': None},
   {'latitude': 40.707872, 'longitude': -74.004731},
   {'latitude': 33.8540338, 'longitude': -84.3584803},
   {'latitude': 41.881065, 'longitude': -87.62903},
   {'latitude': 42.5469062, 'longitude': -83.2144938},
   {'latitude': 25.790926, 'longitude': -80.1343277},
   {'latitude': 37.79088, 'longitude': -122.392521},
   {'latitude': 38.8911989, 'longitude': -77.0837482}]},
 {'name': 'Pfizer',
  'category_code': 'biotech',
  'offices': [{'latitude': None, 'longitude': None}]},
 {'name': 'Bristol-Myers Squibb',
  'category_code': 'biotech',
  'offices': [{'latitude': 40.757716, 'longitude': -73.972321}]},
 {'name': 'Internap',
  'category_code': 'web',
  'offices': [{'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None}]},
 {'name': 'YouGov',
  'category_code': 'consulting',
  'offices': [{'latitude': 37.445111, 'longitude': -122.160779},
   {'latitude': None, 'longitude': None}]},
 {'name': 'WebMediaBrands',
  'category_code': 'web',
  'offices': [{'latitude': None, 'longitude': None}]},
 {'name': 'Velti',
  'category_code': 'mobile',
  'offices': [{'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None}]},
 {'name': 'Dice Holdings',
  'category_code': 'web',
  'offices': [{'latitude': 40.74727, 'longitude': -73.9800645}]},
 {'name': 'Backstage',
  'category_code': 'web',
  'offices': [{'latitude': None, 'longitude': None}]},
 {'name': 'smartFOCUS',
  'category_code': 'software',
  'offices': [{'latitude': 51.4525116, 'longitude': -2.5909744},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None},
   {'latitude': None, 'longitude': None}]}]

In [31]:
def lat_startup (dict):
    x = []
    for i in range(len(startups)):
        x.append(startups[i]["offices"][0]["latitude"])
    return x

In [32]:
def long_startup (dict):
    y = []
    for i in range(len(startups)):
        y.append(startups[i]["offices"][0]["longitude"])
    return y

In [33]:
startups_lat = lat_startup (startups)

In [34]:
startups_long = long_startup (startups)

In [35]:
# Filter again the startups but without the latitud and logitude and turn it into a data frame.
def startups_name (city, amount):
    # Conditions for city and amount of the company.
    condition1 = {"offices.city":city}
    condition2 = {"acquisitions.price_amount":{"$gte":amount}}
    projection = {"name":1, "_id":0, "category_code":1}
    x = (list(c.find({"$and":
                             [condition1, condition2]},
                   projection)))
    # give a Data frame with conditions and address.
    df = pd.DataFrame(x)
    return df

In [36]:
start_names = startups_name ("New York", 1000000)
start_names.sample(3)

                   name category_code
33             Internap           web
1                Viacom           web
14  Comverse Technology      software

Make a dictionary with all values to create a data base.

In [37]:
# dictionary for latitud and long, to create df.
def coord_df (lats, longs):
    lon_lat = {"latitud": lats,
              "longitude": longs}
    df = pd.DataFrame(lon_lat)
    return df

In [38]:
df = coord_df (startups_lat, startups_long)

In [39]:
df.sample(3)

      latitud   longitude
34  37.445111 -122.160779
1   40.757725  -73.986011
39  51.452512   -2.590974

In [40]:
# concat the 2 df.
def concat_axis1 (df1, df2):
    starts = pd.concat([df1, df2], axis=1)
    return starts

In [41]:
startups = concat_axis1 (start_names, df)

In [42]:
startups.sample()

   name     category_code    latitud  longitude
24  WPP  public_relations  40.751513 -73.977947

Get to de df new points columns for plot it in the map.

Export clean Data frame of startups, their category and their address inside San diego.
export dictionary for maping.

como guardarlo en json para exportarlo??????????????????????????????

In [43]:
#with open ("startupsNYjson.json", "w") as f:
#    json.dump(startups, f)

In [44]:
def export_NY_startups (df):
    return df.to_csv(f"D:\\ironhack\\proyectos\\GeoSpatialData_proy3\csv\\startups_newyork.csv")

In [45]:
export_NY_startups (startups)

## 3. Foursquare.

In [46]:
token = getpass()

········

### 3.1. Starbucks.

In [289]:
url = "https://api.foursquare.com/v3/places/search"

params = {
    "query": "starbucks",
    "ll": "40.751693,-73.989676",
    "open_now": "true",
    "sort":"DISTANCE",
    "radius": 15000,
    "limit": 20
}

headers = {
    "Accept": "application/json",
    "Authorization": token
}

response = requests.request("GET", url, params=params, headers=headers)

response

In [290]:
starbucks = response.json()["results"]

In [291]:
len(starbucks)

20

In [292]:
starbucks[0]["geocodes"]["main"]["latitude"]

40.751907

In [294]:
# Make a dictionary for a single index.
def coord_name (dict_):
    dicts = {"name": dict_["name"],
            "latitude": dict_["geocodes"]["main"]["latitude"],
             "longitude": dict_["geocodes"]["main"]["longitude"]}
    # Make a dictionary with the dictionary of the single index but iteration with the rest. 
    
    return dicts

In [295]:
coord_name (starbucks[0])

{'name': 'Starbucks', 'latitude': 40.751907, 'longitude': -73.990217}

In [296]:
# Make a dictionary with the dictionary of the single index but iteration with the rest.
lst = []
for i in response.json()["results"]:
    lst.append(coord_name(i))

In [299]:
starbucks = pd.DataFrame(lst)
starbucks.sample(3)

         name   latitude  longitude
15  Starbucks  40.756720 -73.985819
13  Starbucks  40.749103 -73.983803
3   Starbucks  40.750966 -73.987079

Export data frame.

In [300]:
def export_NY_starbucks (df):
    return df.to_csv(f"D:\\ironhack\\proyectos\\GeoSpatialData_proy3\csv\\starbucks_newyork.csv")

In [301]:
export_NY_starbucks (starbucks)

### 3.2. Schools.

In [302]:
url = "https://api.foursquare.com/v3/places/search"

params = {
    "query": "schools",
    "ll": "40.751693,-73.989676",
    "open_now": "true",
    "sort":"DISTANCE",
    "radius": 15000,
    "limit": 20
}

headers = {
    "Accept": "application/json",
    "Authorization": token
}

response = requests.request("GET", url, params=params, headers=headers)

response

In [303]:
schools = response.json()["results"]

In [304]:
len(schools)

20

In [305]:
coord_name (schools[0])

{'name': 'ABC Bartending School',
 'latitude': 40.752921,
 'longitude': -73.992616}

In [306]:
lst = []
for i in response.json()["results"]:
    lst.append(coord_name(i))

In [308]:
schools = pd.DataFrame(lst)
schools.sample(3)

                     name   latitude  longitude
0   ABC Bartending School  40.752921 -73.992616
16           Ny Kids Club  40.766279 -73.961508
11     Kitchen Rental NYC  40.763024 -73.986198

In [309]:
def export_NY_schools (df):
    return df.to_csv(f"D:\\ironhack\\proyectos\\GeoSpatialData_proy3\csv\\schools_newyork.csv")

In [310]:
export_NY_schools (schools)

### 3.3. Bars.

In [311]:
url = "https://api.foursquare.com/v3/places/search"

params = {
    "query": "bars",
    "ll": "40.751693,-73.989676",
    "open_now": "true",
    "sort":"DISTANCE",
    "radius": 15000,
    "limit": 20
}

headers = {
    "Accept": "application/json",
    "Authorization": token
}

response = requests.request("GET", url, params=params, headers=headers)

response

In [312]:
bars = response.json()["results"]

In [313]:
len(bars)

20

In [315]:
coord_name (bars[0])

{'name': 'Stout', 'latitude': 40.74987, 'longitude': -73.9897}

In [316]:
lst = []
for i in response.json()["results"]:
    lst.append(coord_name(i))

In [317]:
bars = pd.DataFrame(lst)
bars.sample(3)

            name   latitude  longitude
11  Pottery Barn  40.740036 -73.992240
19     The Stand  40.735340 -73.988344
16  Old Town Bar  40.737633 -73.989351

In [318]:
def export_NY_bars (df):
    return df.to_csv(f"D:\\ironhack\\proyectos\\GeoSpatialData_proy3\csv\\bars_newyork.csv")

In [319]:
export_NY_schools (bars)