# Exploration.

In [595]:
from pymongo import MongoClient
import pandas as pd
import time
import importlib
import geopandas as gpd

import json
from cartoframes.viz import Map, Layer, popup_element

from getpass import getpass
import os
import requests

from dotenv import load_dotenv
import pymongo
import warnings
warnings.filterwarnings("ignore")
import data.exploration as ex
importlib.reload(ex)

## 1. Ubication.
### 1.1. Import from Mongo.

Todo el proceso para descargar la base de datos Empresas de Mongo.

In [483]:
client = MongoClient("localhost:27017")

In [484]:
client.list_database_names()

['Ironhack', 'admin', 'config', 'local']

In [485]:
db = client["Ironhack"]

In [486]:
c = db.get_collection("companies")

Explore the data base to get the information I want for the company.

In [487]:
# This was to look if the data base from Mongo was well downloaded.
# c.find_one()

In [488]:
# This was to find with a specific condition of the ategory, and look for what i wanted to work on.
# list(c.find({}, {"category_code":1}))

#### Will choose the music industry for my company.
Getting the music buissnes companies and start analizing them.

In [489]:
# list of all the companies with category of music in all the world.
#list(c.find({"category_code":"music"}, {"name":1, "_id":0, "category_code":1}))

### 1.2. Ubication COUNTRY.

In [492]:
# list of the countries with the music company industry.
lstcountry = ex.music_countries ("music", 1)

In [458]:
#countries[0]
#countries[0]["offices"]
#countries[0]["offices"][0]["country_code"]

In [493]:
# change it to a dictionary
country = {"country": lstcountry}

In [494]:
# make it a data frame
dfcountry = pd.DataFrame(country)

We see that for much USA is the place for a music company, I wanted to see if I could go to another country that had some type of competition between the USA, but if the company wants to grow, need to be in the USA.

In [495]:
dfcountry.value_counts()[:10]

country
USA        30
GBR         5
FRA         4
DEU         2
BEL         1
BRA         1
ESP         1
ITA         1
LUX         1
NLD         1
dtype: int64

hacer otra columna del value count de los paises

In [496]:
dfcountry.sample(3)

   country
38     USA
25     USA
34     BRA

### 1.3. Searching for the city

In [498]:
# Extracting from mongo list of cities chosing the category of the business.

In [501]:
lstcity = ex.music_cities ("music", 1)

Merge the 2 columns of country and city and new count column

In [502]:
location_df = ex.combine_lists (lstcity, lstcountry)

In [503]:
location_df.sample(3)

           cities country  count
41  San Francisco     USA      9
18  San Francisco     USA      9
30      San Diego     USA      2

Clean the data frame, from dulicates and nulls and create a new column for counts of offices in each city.

In [504]:
location_clean = ex.clean_df_citycountry (location_df)
location_clean.sample(3)

             cities country  count
20       Luxembourg     LUX      1
6   Deerfield Beach     USA      1
12         Berkeley     USA      1

Export the data frame of location into a CSV file.

In [505]:
ex.export_location (location_clean)

## 2. Searching for music competition.

Filtering from mongo name, latitude and longitud. to a dictionary.

In [525]:
music_ny = ex.music_NY ("music", "New York")

In [533]:
def lat_music (dict):
    x = []
    for i in range(len(music_ny)):
        x.append(music_ny[i]["offices"][0]["latitude"])
    return x

In [ ]:
@@@@ no me sirvio la fincion.

In [534]:
def long_music (dict):
    y = []
    for i in range(len(music_ny)):
        y.append(music_ny[i]["offices"][0]["longitude"])
    return y

In [535]:
lat_music = lat_music (music_ny)

In [529]:
long_music = long_music (music_ny)

Create DF of latitude and longitude.

In [538]:
df_music = ex.coord_df (lat_music, long_music)

In [539]:
musicdf = ex.music_NY ("music", "New York")

In [543]:
music_df = ex.concat_axis1 (musicdf, df_music)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\interactiveshell.py", line 3397, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\ima_n\AppData\Local\Temp\ipykernel_23080\1483384067.py", line 1, in <cell line: 1>
    music_df = ex.concat_axis1 (musicdf, df_music)
  File "D:\ironhack\proyectos\GeoSpatialData_proy3\data\exploration.py", line 112, in concat_axis1
    starts = pd.concat([df1, df2], axis=1)
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\pandas\util\_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\pandas\core\reshape\concat.py", line 368, in concat
    op = _Concatenator(
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\pandas\core\reshape\concat.py", line 458, in __init__
    raise TypeError(msg)
TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\interactiveshell.py", line 1992, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [546]:
ex.export_NY_music (music_df)

## 3. Startup environment.

Filter information.

In [549]:
startups = ex.startups_cooord ("New York", 1000000)

In [415]:
def lat_startup (dict):
    x = []
    for i in range(len(startups)):
        x.append(startups[i]["offices"][0]["latitude"])
    return x

In [416]:
def long_startup (dict):
    y = []
    for i in range(len(startups)):
        y.append(startups[i]["offices"][0]["longitude"])
    return y

In [553]:
raise new_exc from original_exc

NameError: name 'new_exc' is not defined

In [554]:
startups_lat = lat_startup (startups)

In [418]:
startups_long = long_startup (startups)

Filter again the startups but without the latitud and logitude and turn it into a data frame.

In [557]:
start_names = ex.startups_name ("New York", 1000000)
start_names.sample(3)

                name category_code
6        KIT digital    enterprise
10            eMusic   games_video
28  Opt-Intelligence   advertising

Make a dictionary with all values to create a data base.

In [558]:
df = ex.coord_df (startups_lat, startups_long)

In [559]:
df.sample(3)

     latitud   longitude
0   37.41605 -122.151801
21       NaN         NaN
17       NaN         NaN

Concat 2 data frames.

In [560]:
startups = ex.concat_axis1 (start_names, df)

In [561]:
startups.sample()

              name category_code  latitud  longitude
35  WebMediaBrands           web      NaN        NaN

Get to de df new points columns for plot it in the map.

Export clean Data frame of startups, their category and their address inside San diego.
export dictionary for maping.

como guardarlo en json para exportarlo??????????????????????????????

In [43]:
#with open ("startupsNYjson.json", "w") as f:
#    json.dump(startups, f)

In [564]:
ex.export_NY_startups (startups)

## 4. Foursquare.

In [46]:
token = getpass()

········

### 4.1. Starbucks.

In [570]:
url = "https://api.foursquare.com/v3/places/search"

params = {
    "query": "starbucks",
    "ll": "40.751693,-73.989676",
    "open_now": "true",
    "sort":"DISTANCE",
    "radius": 15000,
    "limit": 20
}

headers = {
    "Accept": "application/json",
    "Authorization": token
}

response = requests.request("GET", url, params=params, headers=headers)

response

In [571]:
starbucks = response.json()["results"]

In [572]:
len(starbucks)

20

In [573]:
starbucks[0]["geocodes"]["main"]["latitude"]

40.751907

In [576]:
ex.coord_name (starbucks[0])

{'name': 'Starbucks', 'latitude': 40.751907, 'longitude': -73.990217}

In [296]:
# Make a dictionary with the dictionary of the single index but iteration with the rest.
lst = []
for i in response.json()["results"]:
    lst.append(coord_name(i))

In [299]:
starbucks = pd.DataFrame(lst)
starbucks.sample(3)

         name   latitude  longitude
15  Starbucks  40.756720 -73.985819
13  Starbucks  40.749103 -73.983803
3   Starbucks  40.750966 -73.987079

Export data frame.

In [582]:
ex.export_NY_starbucks (starbucks)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\interactiveshell.py", line 3397, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\ima_n\AppData\Local\Temp\ipykernel_23080\1186368005.py", line 1, in <cell line: 1>
    ex.export_NY_starbucks (starbucks)
  File "D:\ironhack\proyectos\GeoSpatialData_proy3\data\exploration.py", line 186, in export_NY_starbucks
    return df.to_csv(f"D:\\ironhack\\proyectos\\GeoSpatialData_proy3\csv\\starbucks_newyork.csv")
AttributeError: 'list' object has no attribute 'to_csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\interactiveshell.py", line 1992, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "C:\Users\ima_n\miniconda2\envs\ironhack\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

### 4.2. Schools.

In [586]:
url = "https://api.foursquare.com/v3/places/search"

params = {
    "query": "schools",
    "ll": "40.751693,-73.989676",
    "open_now": "true",
    "sort":"DISTANCE",
    "radius": 15000,
    "limit": 20
}

headers = {
    "Accept": "application/json",
    "Authorization": token
}

response = requests.request("GET", url, params=params, headers=headers)

response

In [587]:
schools = response.json()["results"]

In [588]:
len(schools)

20

In [589]:
ex.coord_name (schools[0])

{'name': "Coban's Muay Thai Camp",
 'latitude': 40.750202,
 'longitude': -73.981415}

In [590]:
lst = []
for i in response.json()["results"]:
    lst.append(coord_name(i))

In [591]:
schools = pd.DataFrame(lst)
schools.sample(3)

                              name   latitude  longitude
4           New York Jazz Workshop  40.758384 -73.984137
18                Simtech Aviation  40.746134 -74.035478
2   William C C Chen Tai Chi Chuan  40.744712 -73.986921

Export to csv.

In [596]:
ex.export_NY_schools (schools)

### 4.3. Bars.

In [311]:
url = "https://api.foursquare.com/v3/places/search"

params = {
    "query": "bars",
    "ll": "40.751693,-73.989676",
    "open_now": "true",
    "sort":"DISTANCE",
    "radius": 15000,
    "limit": 20
}

headers = {
    "Accept": "application/json",
    "Authorization": token
}

response = requests.request("GET", url, params=params, headers=headers)

response

In [312]:
bars = response.json()["results"]

In [313]:
len(bars)

20

In [597]:
ex.coord_name (bars[0])

KeyError: 0

In [316]:
lst = []
for i in response.json()["results"]:
    lst.append(coord_name(i))

In [317]:
bars = pd.DataFrame(lst)
bars.sample(3)

            name   latitude  longitude
11  Pottery Barn  40.740036 -73.992240
19     The Stand  40.735340 -73.988344
16  Old Town Bar  40.737633 -73.989351

In [598]:
ex.export_NY_schools (bars)