# Analisis.

In [1]:
import os
import requests
import json
from dotenv import load_dotenv


import geopandas as gpd
from cartoframes.viz import Map, Layer, popup_element
import pandas as pd
import time
import importlib
import data.graphs as gr
importlib.reload(gr)

## 1. Searching for city.

exporting csv file of clean cities.

In [35]:
def import_csv ():

SyntaxError: incomplete input (368565848.py, line 1)

In [36]:
cities = pd.read_csv("..\GeoSpatialData_proy3\csv\location_clean.csv")

In [37]:
cities.head()

   Unnamed: 0           cities country  count
0           0        San Diego     USA      2
1           1         New York     USA      6
2           2    San Francisco     USA      9
3           5           Austin     USA      1
4           6  Deerfield Beach     USA      1

In [38]:
def clean_cities_df (df):
    df.drop(columns=["Unnamed: 0"], inplace=True)
    df.dropna(how="any", inplace=True)
    df.sort_values(by=['count'],ascending=False, inplace = True)
    x = df[:10]
    return x

In [39]:
cities = clean_cities_df (cities)

In [40]:
cities

             cities country  count
2     San Francisco     USA      9
1          New York     USA      6
5            London     GBR      4
8             Paris     FRA      3
0         San Diego     USA      2
22          Atlanta     USA      2
11     Santa Monica     USA      2
16           Madrid     ESP      1
25  Sainte Florence     FRA      1
24   Kaiserslautern     DEU      1

do some tables to analize witch city is the company going to.

## 1. Searching for city.

In [42]:
startups = pd.read_csv("..\GeoSpatialData_proy3\csv\startups_sandiego.csv")

startups and already big companies with more than a million of founding

In [43]:
startups

,Unnamed: 0,name,category_code,offices
0,0,Sony,hardware,[{'address1': '16530 Via Esprillo'}]
1,1,Qualcomm,semiconductor,[{'address1': '5775 Morehouse Drive'}]
2,2,Intuit,software,"[{'address1': '2632 Marine Way'}, {'address1':..."
3,3,Opera Software,software,"[{'address1': 'Waldemar Thranes gate 98'}, {'a..."
4,4,DivX,software,[{'address1': '4780 Eastgate Mall'}]
5,5,Accenture,consulting,"[{'address1': '1615 Murray Canyon Road'}, {'ad..."
6,6,Spreadtrum Communications,NaN,"[{'address1': '5960 Cornerstone Court,'}]"
7,7,Cypress Bioscience,biotech,[{'address1': '4350 Executive Drive'}]
8,8,ManTech,security,"[{'address1': '1100 New Jersey Ave, SE,Suite 7..."
9,9,Entropic Communications,semiconductor,[{'address1': '6290 Sequence Drive'}]